:root {
  --main-color: black;
  --main-bg-color: white;

  --dropdown-border-color: #bababa;

  --select-active-option-bg-color: #eaeaea;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
