@import "node_modules/@bscop/react-dropdown/package/src/style.scss";

.ui-select {
  button {
    border: 1px solid var(--dropdown-hook-disabled-border-color);
    padding: .2rem .5rem;
    text-align: left;
  }

  button:not([disabled]) {
    border-color: var(--dropdown-hook-border-color);
    padding-right: .25rem;
    background-image: var(--select-caret);
    background-size: 16px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center right;
  }

  [role="listbox"] {
    background: var(--main-bg-color);
    color: var(--main-color);
    padding: .2rem 0;
  }

  [role="option"] {
    cursor: pointer;
    padding: .1rem .75rem;
  }

  [aria-selected] {
    background: var(--select-active-option-bg-color);
  }
}

.ui-select.ui-scrollable {
  [role="listbox"] {
    max-height: calc(2rem * 5);;
    overflow-y: auto;
  }
}
